<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <main>
            <h1>CEMS Data</h1>
            <div class="jumbotron">
                <table border=0>
                    <% 
                    var fields = Object.keys(csv_lines[0]);
                    fields.forEach(function(item){ 
                    %>
                        <th>
                            <%= item %>
                        </th>
                    <%
                    })
                    %>
                    <% csv_lines.forEach(function(csv_line) { %>
                        <tr>
                            <%
                            Object.keys(csv_line).forEach(function(property){
                            %>
                                <td>
                                    <%=
                                        csv_line[property]
                                    %>   
                                </td>
                            <%
                            })
                            %>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </main>
    </body>
</html>